@model Group1APIProject.Models.RecipeFavorite

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RecipeFavorite</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserData.UserDataID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Result.ResultId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RecipeFavoriteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
